# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    build:
        name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: [3.6, 3.7, 3.8, 3.9.0-beta.*]

        steps:
            - name: Cancel Previous Runs
              uses: styfle/cancel-workflow-action@0.4.1
              with:
                access_token: ${{ github.token }}

            - uses: actions/checkout@v2

            - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.os }}
              uses: actions/setup-python@v2
              with:
                python-version: ${{ matrix.python-version }}

            - name: Install Cython
              # Fix for an issue with installing NumPy on windows with python 3.8
              # See https://github.com/nlesc-nano/Nano-Utils/pull/18/checks?check_run_id=768354960
              if: matrix.os == 'windows-latest' && matrix.python-version == 3.8
              run: pip install cython

            - name: Install dependencies
              run: pip install -e .[test]

            - name: Install numpy-stubs
              shell: bash -l {0}
              run: |
                pip show numpy
                NUMPY_GE_1_20=$(python ./numpy_ge_1_20.py)
                if [[ $NUMPY_GE_1_20 == 'FALSE' ]]; then
                    pip install git+https://github.com/numpy/numpy-stubs@master
                fi

            - name: Python info
              run: |
                which python
                python --version

            - name: Installed packages
              run: pip list

            - name: Test with pytest
              run: pytest

            - name: Run codecov
              uses: codecov/codecov-action@v1
              with:
                file: ./coverage.xml
                name: codecov-umbrella
